* {
    font-size: 14px;
}

#tabs {
    width: 1000px;
    margin-left: 100px;
}

#tabs-1-li, #tabs-2-li, #tabs-3-li {
    width: 32.7%;
    background-color: #FFC200;
}

a {
    width: 90%;
}


/*.ui-tabs .ui-tabs-nav*/
/*{*/
/*background-color: #F91212 !important;*/
/*background-color: #FFC200 !important;*/
/*}*/
/**/
/*.ui-tabs .ui-tabs-nav*/
/*{*/
/*background-color: #FFC200 !important;*/
/*}*/

.submit-button {
    display: block;
    text-align: center;
}

.curl-params {
    align: center;
}

input[type="text"], input[type="url"] {
    width: 75%;
}

textarea {
    width: 75%;
    height: 100px;
}

td {
    width: auto;
}



